html,
body {
    margin: 0;
    padding: 0;
    top: 0;
    font-family:'Inter', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
}
.primary-color-bg{
    background-color: var(--primary-color);
}

.secondary-color-bg{
    background-color: var(--secondary-color);
}

.primary-color{
    color: var(--primary-color);
}

.secondary-color{
    color: var(--secondary-color);
}

.third-color-bg {
    background-color: var(--third-color);
}

.fourth-color-bg {
    background-color: var(--fourth-color);
}

.third-color {
    color: var(--third-color);
}

.fourth-color {
    color: var(--fourth-color);
}
.container {
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 0.1fr;
    grid-template-rows: max-content 2fr;
    gap: 10px;
    top: 0;
    height: 125%;
    width: 100%;
    box-sizing: border-box;
    padding-top: 5vh;
    padding-bottom: 10vh;
    margin: 0;
    
}
.light-blue{
    background-color: rgb(189, 224, 255);
}

.white{
    background-color: white;
}

h1{
    margin: 0;
}

/*This is for the date*/
#date {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
#date>h3 {
    margin: 0; /* Remove default margin */
}

#date-input{
    margin-left: 10px;
}
#date-input {
    padding: 10px; /* Increase padding for a larger input area */
    font-size: 16px; /* Increase font size for better readability */
    border: 1px solid #000000; /* Add a border for better visibility */
    border-radius: 5px; /* Add rounded corners for a nicer look */
    width: 150px; /* Set a specific width for the input */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin-left: auto;
}
h1{
    margin: 0;
}



#night-shift {
    grid-column: 3;
    grid-row: 2;
    grid-column: span 2;
}

#day-shift {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}
#heading{
    grid-column: 2;
}
.report {
    color: white;
    border-radius: 10px;
    background-color: rgb(49, 49, 49);
    padding: 10px;
}

.report-styling {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.report>h2 {
    margin: 10px;
}

.small-text{
    font-size: 1rem;
}