:root{
  font-size: 16px;

}

html, body{
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;

}

:root{
  --primary-color: #1b1b1b;
  --secondary-color: #cecece;
  --third-color: #161616;
  --fourth-color: #030303;
}

main{
  margin-right: 20rem;
}

#contents{
  margin-top: 0;
  margin-left:4rem;
}